
/**********************************************
HTML
**********************************************/
  * {
    box-sizing: content-box;
  }

  html {
    font-family: 'Helvetica Neue', 'calibri', sans-serif;

  }

  #sudoku-grid {
    width: 556px;
    margin: auto;
    margin-top: 50px;
    border: 4px solid #607d8b; /*blue-grey*/
  }
  #sudoku-grid .row {
    margin: 0px;
    border-bottom: 1px solid #90a4ae; /*blue-grey lighten-2*/
  }
  #sudoku-grid .row div {
    width: 60px;
    height: 60px;
    float: left;
    border-left: 1px solid #90a4ae; /*blue-grey lighten-2*/
    padding: 0px;
  }
  #sudoku-grid .row:last-child {
    border-top: none;
  }
  #sudoku-grid .row div:first-child {
    border-left: none;
  }
  #sudoku-grid .row div:nth-child(3), #sudoku-grid .row div:nth-child(6) {
    border-right: 4px solid #607d8b; /* blue-grey */
  }
  #sudoku-grid .row:nth-child(3), #sudoku-grid .row:nth-child(6) {
    border-bottom: 4px solid #607d8b; /* blue-grey */
  }

  #sudoku-grid .row div input {
    height: 100%;
    border: none;
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }


  /* HOVER EFFECTS */
  #sudoku-grid .row div input:hover {
    background-color: #eceff1; /* blue-grey lighten-5 */
    cursor: pointer;
  }
  #sudoku-grid .row div input.editable {
    color: #2e7d32; /* green darken-3 */
  }
  #sudoku-grid .row div input.read-only {
    color: #37474f; /* blue-grey darken-3 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
